@use "../../../../styles/media" as m;
@use "../../../../styles/variables" as v;
@use "../../../../styles/fonts-mixin" as f;

.book-info {
  @include f.text;

  display: grid;
  margin-top: 16px;
  margin-bottom: 32px;
  gap: 8px;

  &__field {
    color: v.$color-text-secondary;
  }

  &__value {
    margin-left: 8px;
    color: v.$color-text-primary;
  }

  @include m.desktop-xl {
    margin-bottom: 0;
  }
}
