@use "../../../../styles/media" as m;
@use "../../../../styles/variables" as v;
@use "../../../../styles/fonts-mixin" as f;

.modal-calendar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 56px; // because of mobile sidebar panel
  border-radius: 12px 12px 0 0;
  padding: 32px 16px 24px;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 32px v.$color-shadow-modal;
  background-color: v.$color-background-modal;
  animation: slideUp 0.4s ease-out forwards;
  gap: 16px;

  &__title {
    @include f.h4;

    width: 343px;
    text-align: center;

    @include m.tablet {
      width: unset;
    }
  }

  &__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    border: none;
    padding: 0;
    background-color: v.$color-background-modal;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 96px;
    gap: 8px;

    @include m.tablet {
      flex-direction: row;
      width: 190px;
      height: 44px;
    }
  }

  &__accent-button {
    min-width: 112px;
    white-space: nowrap;
  }

  @include m.tablet {
    position: relative;
    margin-bottom: 0;
    border-radius: 12px;
    padding: 32px 32px 24px;
    width: max-content;
    animation: unset;
  }

  &--closing {
    animation: slideDown 0.4s ease-out forwards;

    @include m.tablet {
      animation: unset;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
