@use "../../../../styles/media" as m;
@use "../../../../styles/variables" as v;
@use "../../../../styles/fonts-mixin" as f;

.book-action-button {
  &__button {
    min-height: 44px;

    @include m.tablet {
      max-width: 111px;
    }
  }

  &__take-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }

  &__take-info-text {
    @include f.text;

    margin: 0;
    color: v.$color-text-secondary;

    @include m.tablet {
      width: 356px;
    }

    @include m.tablet-xl {
      width: 280px;
    }
  }

  &__scan-button {
    margin-top: 4px;
    padding: 8px;
    width: 129px;

    svg path {
      stroke: v.$color-background-primary;
    }
  }
}
