.print-qr {
  position: relative;
  width: 56mm;
  height: 28mm;
  page-break-after: always;
  break-after: page;

  &__logo {
    position: absolute;
    left: 2mm;
    bottom: 0;
  }

  &__wrapper {
    display: flex;
    padding: 1.2mm 2mm 2mm;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 1.5mm;
    min-width: 30mm;
  }

  &__meta {
    font-size: 8.5px;
    line-height: 1.4;
  }

  &__title {
    font-size: 9.5px;
    line-height: 1.2;
  }

  &__secret {
    position: absolute;
    right: 4mm;
    bottom: 0;
    font-size: 9.5px;
    line-height: 1;
  }
}
