.print-qr {
  position: relative;
  width: 56mm;
  height: 28mm;
  page-break-after: always;
  break-after: page;

  &__logo {
    position: absolute;
    left: 2mm;
    bottom: 0;
  }

  &__wrapper {
    display: flex;
    padding: 2mm;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 2mm;
    min-width: 30mm;
  }

  &__meta {
    font-size: 7px;
    line-height: 1.4;
  }

  &__title {
    font-size: 9px;
    line-height: 1.2;
  }

  &__secret {
    position: absolute;
    right: 4mm;
    bottom: 1mm;
    font-size: 7px;
    line-height: 1;
  }
}
