@font-face {
  src: url("../../public/fonts/Inter-Regular.woff") format("woff");
  font-family: Inter;
  font-display: swap;
  weight: "400";
}

@mixin text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@mixin subhead1-medium {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
