@use "../../styles/fonts-mixin" as f;
@use "../../styles/variables" as v;

.book {
  &__title {
    @include f.h3;

    margin-top: 20px;
  }

  &__characteristics {
    @include f.text;

    display: grid;
    gap: 8px;
  }

  &__field {
    color: v.$color-text-secondary;
  }

  &__value {
    margin-left: 8px;
    color: v.$color-text-primary;
  }

  &__cover,
  &__cover--no-image {
    border-radius: 8px;
    width: 100%;
    height: 510px;
    object-fit: contain;

    &--no-image {
      object-fit: cover;
    }
  }
}
