name: Publish Docker image

on:
  push:
    branches:
      - master
      - feature/*
  # to allow to wait for a docker image to be published to proceed in another workflow
  workflow_call:

jobs:
  push_to_registry:
    uses: TourmalineCore/inner-circle-github-workflows/.github/workflows/docker_digest_build_and_push.yml@feature/add_reusable_build_and_push_workflow
    with:
      runner-platform: ubuntu-22.04
      target-arch: linux/amd64
    # without this it cannot login to the registry
    secrets: inherit